/*
  Malik Dellidj - @Dathink

  Solar System orbit animation true time scaled

  Revolution of planets in earth days (from Wikipedia)
  Mercury : ~87,5 days
  Venus : ~224,7 days
  Earth : ~365,2563 days
    + Moon : ~27,3216 days (around earth)
  Mars : ~687 days (~1,8 year)
  Jupiter : ~4 331 days (~12 years)
  Saturn : ~10 747 days (~30 years)
  Uranus : ~30 589 days (~84 years)
  Neptune : ~59 802 days (~165 years)
  Pluto : ~90 580 days (~248 years)
*/

$year-in-second : 7; 

@function revolution($pl-year-in-days){
  @return $pl-year-in-days * $year-in-second / 365.2563 + s  //Earth reference
}
@function alphaRandom(){
  @return random(9999)*.001;
}
@function stars($s, $max-area, $min-area : 0, $star-size : 0){
  $stars : #{$min-area + random($max-area)}px #{$min-area + random($max-area)}px 0 #{$star-size}px rgba(255,255,255, alphaRandom()); 
  @for $i from 1 to $s{
    $stars: '#{$stars} , #{$min-area + random($max-area)}px #{$min-area + random($max-area)}px 0 #{$star-size}px rgba(255,255,255, #{alphaRandom()})'
  }
  @return unquote($stars);
}

$sun: 48px;
$mercury-orb : 84px; $mercury-pl: 5px; 
$venus-orb : 120px; $venus-pl: 10px; 
$earth-orb : 174px; $earth-pl: 9px; 
$mars-orb : 228px; $mars-pl: 8px;
$jupiter-orb : 408px; $jupiter-pl: 22px; 
$saturn-orb : 528px; $saturn-pl: 14px;
$uranus-orb : 624px; $uranus-pl: 12px;
$neptune-orb : 756px; $neptune-pl: 12px;
$pluto-orb : 936px; $pluto-pl: 5px;

$asteroids-belt-orb : 300px; $asteroids-belt-pl: 210px;

#solar-system {
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment:fixed;

  &.loaded .solar-syst div {
      left: 25%;
  }
}

.solar-syst{
  &:after{
    content:"";
    position:absolute;
    height:2px;
    width:2px;
    top:-2px;
    background:white;
    box-shadow: stars(500, 1800);
    border-radius:100px;
  }
  margin:0 auto;
  width:100%;
  height:100%;
  position:relative;
  transform: perspective(10px);
  overflow: hidden;
  div{
    border-radius:1000px;
    top:50%;
    left:50%;
    position:absolute;
    z-index:999;
    transition: left 1s cubic-bezier(0.37, 0.01, 0.2, 0.97);
    &:not(.sun){
      border: 1px solid rgba(102, 166, 229, 0.05);
      &:before{
        left:50%;
        border-radius:100px;
        content:"";
        position:absolute;
      }
    }
    &:not(.asteroids-belt){
      &:before{
        box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.sun{
  background:radial-gradient(ellipse at center, #ffd000 1%,#f9b700 39%,#f9b700 39%,#e06317 100%);
  height:$sun;
  width:$sun;
  margin-top: -$sun / 2;
  margin-left: -$sun / 2;
  background-clip: padding-box;
  border:0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury{
  $orb-start: random(99999)*-1s;
  height: $mercury-orb;
  width: $mercury-orb;
  margin-top: -$mercury-orb / 2;
  margin-left: -$mercury-orb / 2;
  animation: orb revolution(87.5) linear $orb-start infinite;
  &:before{
    height:$mercury-pl;
    width:$mercury-pl;
    background: #9f5e26;
    margin-top: -$mercury-pl / 2;
    margin-left: -$mercury-pl / 2;
    animation: orb-comp revolution(87.5) linear $orb-start infinite;
  }
}

.venus{
  $orb-start: random(99999)*-1s;
  height: $venus-orb;
  width: $venus-orb;
  margin-top: -$venus-orb / 2;
  margin-left: -$venus-orb / 2;
  animation: orb revolution(224.7) linear $orb-start infinite;
  &:before{
    height:$venus-pl;
    width:$venus-pl;
    background:#BEB768;
    margin-top: -$venus-pl / 2;
    margin-left: -$venus-pl / 2;
    animation: orb-comp revolution(224.7) linear $orb-start infinite;
  }
}

.earth{
  $orb-start: random(99999)*-1s;
  height: $earth-orb;
  width: $earth-orb;
  margin-top: -$earth-orb / 2;
  margin-left: -$earth-orb / 2;
  animation: orb revolution(365.2563) linear $orb-start infinite;
  &:before{
    height:$earth-pl;
    width:$earth-pl;
    background:#11abe9;
    margin-top: -$earth-pl / 2;
    margin-left: -$earth-pl / 2;
    animation: orb-comp revolution(365.2563) linear $orb-start infinite;
  }
  &:after{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 50%;
    top: 0px;
    margin-left: -9px;
    margin-top: -9px;
    border-radius: 100px;
    box-shadow: 0 -10px 0 -8px grey;
    animation: orb revolution(27.3216) linear infinite;
  }
}
.mars{
  $orb-start: random(99999)*-1s;
  height: $mars-orb;
  width: $mars-orb;
  margin-top: -$mars-orb / 2;
  margin-left: -$mars-orb / 2;
  animation: orb revolution(687) linear $orb-start infinite;
  &:before{
    height:$mars-pl;
    width:$mars-pl;
    background:#cf3921;
    margin-top: -$mars-pl / 2;
    margin-left: -$mars-pl / 2;
    animation: orb-comp revolution(687) linear $orb-start infinite;
  }
}

.jupiter{
  $orb-start: random(99999)*-1s;
  height: $jupiter-orb;
  width: $jupiter-orb;
  margin-top: -$jupiter-orb / 2;
  margin-left: -$jupiter-orb / 2;
  animation: orb revolution(4331) linear $orb-start infinite;
  &:before{
    height:$jupiter-pl;
    width:$jupiter-pl;
    background:#c76e2a;
    margin-top: -$jupiter-pl / 2;
    margin-left: -$jupiter-pl / 2;
    animation: orb-comp revolution(4331) linear $orb-start infinite;
  }
}

.saturn{
  $orb-start: random(99999)*-1s;
  height: $saturn-orb;
  width: $saturn-orb;
  margin-top: -$saturn-orb / 2;
  margin-left: -$saturn-orb / 2;
  animation: orb revolution(10747) linear $orb-start infinite;
  &:before{
    height:$saturn-pl;
    width:$saturn-pl;
    background:#e7c194;
    margin-top: -$saturn-pl / 2;
    margin-left: -$saturn-pl / 2;
    animation: orb-comp revolution(10747) linear $orb-start infinite;
  }
  &:after{
    position: absolute;
    content: "";
    height: 2.34%; 
    width: 4.676%;
    left: 50%;
    top: 0px;
    margin-left: -2.3%;
    margin-top: -1.2%;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
    animation: orb revolution(10747) linear $orb-start infinite;
    animation-direction: reverse; // compensate to reverse main orbit animation
    transform-origin: 52% 60%;
  }
}

.uranus{
  $orb-start: random(99999)*-1s;
  height: $uranus-orb;
  width: $uranus-orb;
  margin-top: -$uranus-orb / 2;
  margin-left: -$uranus-orb / 2;
  animation: orb revolution(30589) linear $orb-start infinite;
  &:before{
    height:$uranus-pl;
    width:$uranus-pl;
    background:#b5e3e3;
    margin-top: -$uranus-pl / 2;
    margin-left: -$uranus-pl / 2;
    animation: orb-comp revolution(30589) linear $orb-start infinite;
  }
}

.neptune{
  $orb-start: random(99999)*-1s;
  height: $neptune-orb;
  width: $neptune-orb;
  margin-top: -$neptune-orb / 2;
  margin-left: -$neptune-orb / 2;
  animation: orb revolution(59802) linear $orb-start infinite;
  &:before{
    height:$neptune-pl;
    width:$neptune-pl;
    background:#175e9e;
    margin-top: -$neptune-pl / 2;
    margin-left: -$neptune-pl / 2;
    animation: orb-comp revolution(59802) linear $orb-start infinite;
  }
}

.asteroids-belt{
  $orb-start: random(99999)*-1s;
  opacity:.7;
  border-color: transparent !important;
  height: $asteroids-belt-orb;
  width: $asteroids-belt-orb;
  margin-top: -$asteroids-belt-orb / 2;
  margin-left: -$asteroids-belt-orb / 2;
  animation: orb revolution(2191) linear $orb-start infinite;
  overflow:hidden;
  &:before{
    top:50%;
    height:$asteroids-belt-pl;
    width:$asteroids-belt-pl;
    margin-left: -$asteroids-belt-pl / 2;
    margin-top: -$asteroids-belt-pl / 2;
    background: transparent;
    border-radius:140px !important;
    box-shadow: stars(390, 290, -290/2, -104);
  }
}

.pluto{
  $orb-start: random(99999)*-1s;
  height: $pluto-orb;
  width: $pluto-orb;
  margin-top: -$pluto-orb / 2 + -60;
  margin-left: -$pluto-orb / 2 + 70;
  animation: orb revolution(90580) linear $orb-start infinite;
  &:before{
    height:$pluto-pl;
    width:$pluto-pl;
    background:#fff;
    margin-top: -$pluto-pl / 2;
    margin-left: -$pluto-pl / 2;
    animation: orb-comp revolution(90580) linear $orb-start infinite;
  }
}


@keyframes orb{
  0% {
    transform:rotateZ(0deg) rotateX(45deg);
  }
  12% {
    transform:rotateZ(-45deg) rotateX(35deg);
  }
  25% {
    transform:rotateZ(-90deg) rotateX(0deg);
  }
  38% {
    transform:rotateZ(-135deg) rotateX(35deg);
  }
  50% {
    transform:rotateZ(-180deg) rotateX(45deg);
  }
  62% {
    transform:rotateZ(-225deg) rotateX(35deg);
  }
  75% {
    transform:rotateZ(-270deg) rotateX(0deg);
  }
  88% {
    transform:rotateZ(-315deg) rotateX(35deg);
  }
  100% {
    transform:rotateZ(-360deg) rotateX(45deg);
  }
}

@keyframes orb-comp{
  0% {
    transform:scaleY(1.3);
  }
  12% {
    transform:scaleY(1.2);
  }
  25% {
    transform:scaleY(1);
  }
  38% {
    transform:scaleY(1.2);
  }
  50% {
    transform:scaleY(1.3);
  }
  62% {
    transform:scaleY(1.2);
  }
  75% {
    transform:scaleY(1);
  }
  88% {
    transform:scaleY(1.2);
  }
  100% {
    transform:scaleY(1.3);
  }
}
